body{
    position: relative;
    margin: 0;
    padding: 0;
}

select{
    position: absolute;
    left:43%;
    top:50px;
    text-align: center;
    font-size: 24px;
}

option{
    width: 200px;
}

#status{
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: green;
    border-bottom: 5px solid greenyellow;
    font-size: 28px;
    color: white;
    text-align: center;
}

#login{
    position: absolute;
    top: 300px;
    left: 38%;
    width: 400px;
    height: 400px;
    background-color:rgb(24, 77, 14);
    border: 5px solid greenyellow;
    border-radius: 50px;
    z-index: 6;
}

#czekam{
    position: absolute;
    top: 300px;
    left: 38%;
    width: 400px;
    height: 400px;
    background-color:red;
    color: white;
    text-align: center;
    font-size: 30px;
    background-image: url("../gfx/gif.gif");
    background-size: 100%;
    border: 5px solid greenyellow;
    border-radius: 50px;
    z-index: 5;
}

.log{
    text-align: center;
    color: rgb(0, 255, 0);
    font-size: 28px;
}

.form{
    display: block;
    margin: 0 auto;
    width: 250px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.button{
    background-color: rgb(0, 255, 0);
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}