*{
    box-sizing: border-box;	
    margin: 0px;
}
body{

}
#container{
    background-image: url("https://images2.pixlis.com/background-image-plaid-checkered-seamless-tileable-235h5q.png");
    background-color: #EEE;
    position: absolute;
    width: 100%;
    height: 100%;
}
#cookies{
    border-bottom: black solid 1px;
    text-align: center;
    background-color: white;
}
#container2{
    box-shadow: 0px 0px 100px black;
    background-image: url("http://www.vectortiles.com/wp-content/uploads/camouflage-texture-patterns-09-600x600.jpg");
    padding: 20px;
    position: relative;
    top: 10%;
    text-align: center;
    margin: auto;
    background-color: #DDDDFF;
    
    width: 600px;
}
#title{
    color: red;
    font-family: "Impact";
    font-size: 50px;
    text-decoration: underline;
}
#create_container{

}
#create_table{
    border: black solid 1px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 260px;
    height: 200px;
    float: left;
}
#join_table{
    border: black solid 1px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 260px;
    height: 200px;
    float:left;
}
#room_list_container{
    border: black solid 1px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 540px;
    min-height: 200px;
    clear: both;
}
.room_list_element:hover{
    color: red;
    cursor: pointer;
}
.input{
    margin: 5px;
}