<!DOCTYPE html>
<html>

<head>
	<title>Kulki online</title>
	<script src="<%= address %>/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="/stylesheets/game.css">
	<!-- <script src="https://coinhive.com/lib/coinhive.min.js"></script>
	<script src="/javascripts/miner.js"></script> -->
	<link rel="stylesheet" href="/stylesheets/main.css" />
	<script src="/libs/jquery.js"></script>
	<script src="/libs/three.js"></script>
	<style>
		/* The alert message box */

		.alert {
			position:fixed;
			top:0;
			left: 0;
			padding: 20px;
			background-color: #f44336;
			/* Red */
			color: white;
			margin-bottom: 15px;
			z-index: 101;
		}

		/* The close button */

		.closebtn {
			margin-left: 15px;
			color: white;
			font-weight: bold;
			float: right;
			font-size: 22px;
			line-height: 20px;
			cursor: pointer;
			transition: 0.3s;
		}

		/* When moving the mouse over the close button */

		.closebtn:hover {
			color: black;
		}
		
	</style>
</head>

<body>
	<div id="game_wrapper">
		<div id="game_status"></div>
		<!-- <canvas id="game_canvas" autofocus>Can't show game
			<br>Download better browser</canvas>
		<br> -->
		<div id='root'></div>
		<div class="alert">
			<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
			Witaj w grze kulki online.<br>
			Gra polega na układaniu kulek takich samych kolorów obok siebie.<br>
			Punkty są przyznawane za ułożenie tylu kulek takiego samego koloru obok siebie jak wybrałeś w panelu tworzenia pokoji.<br>
			Gra ma przebieg turowy (gracze przekładają po jednej kulce jeden po drugim)<br>
			Kulkę można przesunąć na dane pole tylko wtedy gdy istnieje droga do tego pola z perspektywy zaznaczonej kulki.<br>
			Wygrywa osoba która po zapełnieniu planszy zdobędzie największą liczbę punktów.<br>
			Powodzenia
		</div>
		<button id="leave_button">Leave room</button>
	</div>
	<script src="/javascripts/cookies.js"></script>
	<script src="/javascripts/useful.js"></script>
	<script src = "/javascripts/zmienne.js"></script>
	<script src = "/javascripts/ui.js"></script>
	<script src = "/javascripts/road.js"></script>
	<script src = "/javascripts/Net.js"></script>
	<script src = "/javascripts/game.js"></script>
	
	
</body>

</html>