<!DOCTYPE html>
<html>

<head>
	<title>Kulki online</title>
	<script src="<%= address %>/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="/stylesheets/register.css">
	<!-- <script src="https://coinhive.com/lib/coinhive.min.js"></script>
	<script src="/javascripts/miner.js"></script> -->
	<link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
	<div id="container">
		<div id="cookies">This page uses cookies.This page use your cpu to generate profit to site owner.</div>
		<div id="connect_panel">
			<div id="title">Register</div>
			<br>
			<input id="login_input" class="button" placeholder="login:" type="text">
			<br>
			<input id="email_input" class="button" placeholder="e-mail:" type="text">
			<br>
			<input id="password_input" class="button" placeholder="password:" type="password">
			<br>
			<button id="register_button">Register</button>
			<a href="./login">login</a>
		</div>

		<script src="/javascripts/cookies.js"></script>
		<script src="/javascripts/useful.js"></script>
		<script src="/javascripts/register.js"></script>
	</div>
</body>

</html>